
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(140deg, #0c00ad 0%, #070713 83%);
}

/* menu nav */

.navbar-brand img{
    width: 50px;
}

.nav-link {
    color: rgb(161, 161, 161);
}

.navbar-nav .nav-link.active {
    color: rgb(137, 228, 228);
}

.navbar-toggler {
    background-color: rgb(137, 228, 228);
}



.sidebar {
    color: rgb(137, 228, 228);
    background: linear-gradient(270deg, #0c00ad 0%, #070713 83%);
}

.card {
    color: rgb(137, 228, 228);
    background: linear-gradient(270deg, #0c00ad 0%, #070713 83%);
}

.card a {
    text-decoration: none;
    color: rgb(137, 228, 228);
}