
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(140deg, #0c00ad 0%, #070713 83%);
}

/* menu nav */

.navbar-brand img{
    width: 50px;
}

.nav-link {
    color: rgb(161, 161, 161);
}

.navbar-nav .nav-link.active {
    color: rgb(137, 228, 228);
}

.navbar-toggler {
    background-color: rgb(137, 228, 228);
}



.sidebar {
    color: rgb(137, 228, 228);
    background: linear-gradient(270deg, #0c00ad 0%, #070713 83%);
}

.card {
    color: rgb(137, 228, 228);
    background: linear-gradient(270deg, #0c00ad 0%, #070713 83%);
}

.card a {
    text-decoration: none;
    color: rgb(137, 228, 228);
}

.slide-text, .footer-text {
    color: rgb(137, 228, 228);
    margin: auto auto;
}

footer {
    background: linear-gradient(270deg, #0c0481 0%, #01010f 83%);    
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.media-links img {
    width: 45px;
    margin-inline: 1em;
}


@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}